@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: #f2f3f3;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 15px 8px; 
  color: #3b3939;
}


/* TABS */

h2.inactive {
    color: #92badd;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
/* ESTRUCTURA GENERAL */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh; /* Ocupa toda la altura */
    padding: 50px;
    background: #776f67; /* Fondo de la página */
}

#formContent {
    border-radius: 10px;
    background: #d4c3b3; /* Fondo para el formulario */
    padding: 30px;
    width: 90%;
    max-width: 400px; /* Ajusta el tamaño del formulario */
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #d4c3b3; /* Color de fondo */
    border-top: 1px solid #6f7579; /* Borde superior */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    border-radius: 0 0 10px 10px; /* Borde redondeado inferior */
    width: 100%; /* Ancho completo del contenedor padre */
    box-sizing: border-box; /* Incluye padding y borde en el ancho */
}

/* TIPOGRAFÍA DEL FORMULARIO */

input[type="email"],
input[type="password"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
    outline: none; /* Quita el borde azul por defecto */
}

input[type="submit"] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: #39ace7;
}

img#icon {
    width: 100px;
    margin: 20px 0;
}

h2 {
    margin: 10px 0;
}

a.underlineHover {
    color: #92badd;
    text-decoration: none;
    margin-top: 15px;
}

a.underlineHover:hover {
    color: #0d0d0d;
}


/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:20%;
}

* {
  box-sizing: border-box;
}